.add-cell {
  position: relative;
}

.add-cell .divider {
  position: absolute;
  /**vertical alignment in middle of component*/
  top: 50%;
  bottom: 50%;
  border-bottom: 1px solid grey;
  width: 95%;
  z-index: -1;
  right: 2.5%;
  left: 2.5%;
}

.add-cell .add-btns {
  display: flex;
  justify-content: center;
}

.add-cell .add-btns > button {
  margin: 0 20px;
}
